<ion-content [fullscreen]="true">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="title" style="font-size: 28px;">Dobrodosli nazad!</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <form [formGroup]="loginForm">
    <p class="subtitle"> Prijavite se na svoj nalog!</p>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="email" placeholder="Email"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?.['email'].invalid">
        <ion-text class="warning"> Nije dobar unos email-a! </ion-text>
      </div>
      <ion-item>
        <ion-input type="password" formControlName="password" placeholder="Lozinka"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

    <div class="signupLink">
      <p> Novi korisnik? <a [routerLink]="['/signup']"> Kreirajte nalog!</a></p>
    </div>
    </div>
    <ion-fab vertical="middle" horizontal="end"> 
      <ion-fab-button (click)="logIn()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <div>
    <ion-img src="assets/images/bookshop.jpg"/>
  </div>
  </form>
  </ion-content>