.input{
    font-size: 300;
}
.title{
  font-weight: bold;
  text-align: center;
  color: black;
}

ion-item{
    --background:rgb(235, 235, 203);
    border-radius: 10px;
    margin-bottom:16px;
}

.warning{
  color:rgb(202, 43, 43);
  font-size:0.9rem;
  font-style: italic;
  padding-left: 25px;
}

.subtitle{
    font-size:1.3rem;
    color:rgb(128, 128, 128);
    text-align: center;
}

.signupLink{
  display:flex;
  margin:auto;
  flex-direction: row;  
  align-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  right: 0;
  justify-content: center;
  p{
    font-size: 1.3rem;
  }

  a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(220, 184, 93);
  }
  a:active{
    text-decoration: underline;
  }
}

