<ion-content [fullscreen]="true">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="title" style="font-size: 28px;" >Dobrodošli!</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <form [formGroup]="regForm" novalidate>
    <p class="subtitle"> Kreirajte svoj nalog!</p>

    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="fullname" class="input" placeholder="Ime"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['fullname'].touched && this.regForm.controls?.['fullname'].invalid">
        <ion-text class="warning"> Ime je obavezno! </ion-text>
      </div>
      <br>
      <ion-item>
        <ion-input formControlName="email" class="input" placeholder="Email"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['email'].touched && this.regForm.controls?.['email'].invalid">
        <ion-text class="warning" > Nije dobar unos email-a! </ion-text>
      </div>
      <br>
      <ion-item>
        <ion-input type="password" formControlName="password" class="input" placeholder="Lozinka"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
     
    <div class="signinLink">
      <p> Postojeći korisnik? <a [routerLink]="['/login']"> Prijavite se!</a></p>
    </div>
    </div>
    <ion-fab vertical="middle" horizontal="end"> 
      <ion-fab-button (click)="signUp()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <img src="assets/images/bookshop2.jpg"/>
  </form>
  </ion-content>