<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Knjižara
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aplikacija</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let book of books">
  <ion-card style="background-color: beige">
    <ion-card-header>
      <ion-card-title>{{book.title}}</ion-card-title>
      <ion-card-subtitle>Autor: {{book.author}}</ion-card-subtitle>
      <ion-item>
        <ion-label >Izdavač: {{book.publisher}}</ion-label>
        <ion-label></ion-label>
      </ion-item>
    </ion-card-header>
  
    <ion-card-content>
      <b>Kratak opis:</b><br>{{book.description}} 

      <ion-row> 
        <ion-button> Izmeni</ion-button>
        <ion-button> Izbrisi</ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>
