<ion-header [translucent]="true">
  <ion-toolbar style="--background-color:red">
    <ion-title class="naslov">
      Knjižara
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="naslov" >Knjižara</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let book of books">
  <ion-card style="background-color: rgb(252, 227, 182)">
    <ion-card-header>
      <ion-card-title>{{book.title}}</ion-card-title>
      <ion-card-subtitle>Autor: {{book.author}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <b>Kratak opis:</b><br>{{book.description}} <br><br>
      <b style="font-size: 1rem;">Cena: {{book.price}} </b>
      <ion-row> 
        <ion-button> Izmeni</ion-button>
        <ion-button (click)="deleteBook(book)"> Izbriši</ion-button>
      </ion-row>
    </ion-card-content>
    <ion-item class="publish">
      <ion-label><b>Izdavač</b>: {{book.publisher}}&nbsp;</ion-label>
      <ion-label> <b>Godina izdavanja:</b> {{book.publishYear}}</ion-label>
    </ion-item>
  </ion-card>
  
</ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="gotoCreatePage()">
    <ion-icon name="book-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>