<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aplikacija</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let book of books">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{book.title}}</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-item>
        
      </ion-item>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>
